[user]
	name = Kangcheng Wen
	email = git.kcwen@outlook.com
	signingkey = F6706A6EE199DA4B
[core]
	editor = nvim
[init]
	defaultBranch = main
[http]
	proxy = http://127.0.0.1:7897
[https]
	proxy = http://127.0.0.1:7897
[safe]
	directory = *
